:root {
    --padd: 1rem;
    --hs: 0.9rem;
    --ff: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

body {
    margin: 0;
    padding: 1rem;
    line-height: 1.5;
    font-family: var(--ff);
}

h1 { font-size: calc(2 * var(--hs)); }
h2 { font-size: calc(1.5 * var(--hs)); }
h3 { font-size: calc(1.25 * var(--hs)); }
h4 { font-size: calc(1 * var(--hs)); }

h1, h2, h3, h4 {
    font-weight: normal;
}
h1 {
    text-transform: uppercase;
}

h1, h2, h3, h4, ul {
    margin: 0 0 .5em;
}
h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child) {
    margin-top: 1em;
}
ul, p {
    margin: 0 0 .5em;
}

main {
    padding: 1.5rem 0;
}

main, header nav {
    max-width: 40em;
    margin: 0 auto;
}

header nav {
    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase;
}
header nav a {
    margin-right: 1em;
    padding: .25em 0;
}

p img {
    display: block;
    margin: 0 auto;
}