* {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    font: normal 16px/1.5 Helvetica;
    color: #333;
}
a {
    color: #772953;
    cursor: pointer;
    text-decoration: underline;
}
a:hover {
    color: #E95420;
}
h1, h2, h3 {
    font-family: sans-serif;
}
h1 {
    font-size: 1.9em;
    font-weight: 400;
    margin-bottom: .5rem;
    color: #333;
}
h2, h3 {
    font-size: 1em;
    margin: .5em 0;
}
h2 {
    color: #772953;
}
h3 {
    font-size: 1em;
}

.ava {
    height: 128px;
}

img {
    max-width: 100%;
}

.container {
    max-width: 660px;
    margin: 0 auto;
    padding: 1em 1em 0;
}

ul, ol {
    margin-left: 1em;
}

h1 {
    margin-top: 0;
}

p, ul, ol {
    margin-bottom: .75em;
    color: #000;
}
.p-nobr > * {
    white-space: nowrap;
}
.tac {
    text-align: center;
}
.nm {
    margin: 0;
}

footer {
    color: #AEA79F;
    text-align: center;
}
footer > * {
    color: inherit;
}

section:not(.active) .spoiler-body {
    display: none;
}
.spoiler-toggle {
    cursor: pointer;
}
.spoiler-toggle::before {
    transition: .25s ease;
    content: '▶';
    margin-right: .5em;
    transform: rotate(0deg);
    display: inline-block;
}
section.active .spoiler-toggle::before {
    transform: rotate(90deg);
}
.spoilers-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}