html {
    --link: #333;
    --link-a: darkolivegreen;
    --text: #222;
    --text-h: #000;
    --bg-m: #fff;
    --b-h: #eee;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
body, html {
    max-width: 100vw;
    overflow-x: hidden;
}
body {
    background: var(--bg-m);
    font: 16px/1.5 sans-serif;
    color: var(--text);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
.container {
    max-width: calc(80em * .5);
    margin: 0 auto;
}
section:not(.active) {
    display: none;
}
section {
    hyphens: auto;
    padding: 2rem 1rem;
    max-width: 100vw;
}
a {
    color: var(--link);
    cursor: pointer;
}
a:hover, a.active {
    color: var(--link-a);
}
main {
    flex-grow: 1;
    display: flex;
    align-items: center;
}
header {
    border-bottom: 2px solid var(--b-h);
}
.tabs {
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tabs a {
    text-align: center;
    color: var(--text);
    padding: calc(.75em - 2px) calc(1em/3*2) .75em;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    position: relative;
    top: 2px;
}
.tabs a.active {
    border-color: var(--link-a);
}
h1, h2, h3 {
    color: var(--text-h);
}
h1 {
    font-size: 2em;
    font-weight: 400;
}
h2, h3 {
    font-size: 1em;
    margin: 1em 0 .25em;
}
h1 + h2, h1 + h3 {
    margin-top: 0;
}
ul, ol {
    margin-left: 1em;
}
p, ul, ol {
    margin-bottom: .5em;
}
.p-nobr > * {
    white-space: nowrap;
}
.tac {
    text-align: center;
}
.qr {
    border: 2px solid var(--b-h);
    display: inline-block;
    padding: .5em;
}
.qr:hover {
    border-color: var(--link-a);
}
*:first-child {
    margin-top: 0;
}
*:last-child {
    margin-bottom: 0;
}