* {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    background: #1e1e1e;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
body, textarea, input {
    font: 16px/1.5 sans-serif;
	color: #c5c8c6;
}

.container {
    margin: 0 auto;
	padding: 2rem 1rem;
    width: 400px;
    max-width: 100%;
}

.text {
    display: block;
    width: 100%;
}

.text {
    background: #272727;
	border: none;
	border-bottom: 2px solid #9aa83a;
	outline: none;
    padding: .75rem;
    margin-bottom: .75rem;
}
.text:focus {
	border-bottom-color: #6089b4;
}

#result {
    font-size: 1.25rem;
    text-align: center;
    margin: .75rem 0 .5rem;
    word-wrap: break-word;
}

.footer {
    text-align: center;
}